@charset "UTF-8";
/* -----------------------------------------------------------------
                       @media
1-ый параметр $min-max принимает 3 аргумента min, max, min-max.
   min       - для mobil @media
   max       - для dectop @media
   min-max   - для промежутка между mobil-dectop @media
2-ой параметр $breakpoint_1 принимает 1-ин аргумент.
   ключ      - хранятся в созданной карте $grid_breakpoints(xxl, xl, lg, md , sm...)
3-ий параметр $breakpoint_2 принимает 1-ин аргумент, является не обязательным параметром.
   ключ      - хранятся в созданной карте $grid_breakpoints(xxl, xl, lg, md , sm...) нужен для 1-ого параметра 3 аргумента.
 Дополнение:
   map-has-key  - Нужен для проверки ключа в карте, если ключа указанного нет то условие не выполняется.
   map-get      - Нужен для использование ключей из карты.
Пример:
   @include media(max, xxl) { display: none;}
   @include media(min, xxl) { display: none;}
   @include media(min-max, mn-lg, mx-xxl) { display: none;}
Одиночные брекпоинты:
   @include media(max, 870px,) { display: none;}
   @include media(min, 870px,) { display: none;}
   @include media(min-max, 870px, 1000px) { display: none;}
--------------------------------------------------------------------*/
@font-face {
  font-family: "Stem";
  font-display: swap;
  src: url("../fonts/Stem-Bold.woff2") format("woff2"), url("../fonts/Stem-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Stem";
  font-display: swap;
  src: url("../fonts/Stem-Light.woff2") format("woff2"), url("../fonts/Stem-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Stem";
  font-display: swap;
  src: url("../fonts/Stem-Medium.woff2") format("woff2"), url("../fonts/Stem-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Stem";
  font-display: swap;
  src: url("../fonts/Stem-Regular.woff2") format("woff2"), url("../fonts/Stem-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-cart:before {
  content: "\e900";
}

._icon-check:before {
  content: "\e901";
}

._icon-delet:before {
  content: "\e902";
}

._icon-instagram:before {
  content: "\e903";
}

._icon-logo:before {
  content: "\e904";
}

._icon-plus:before {
  content: "\e905";
}

._icon-search:before {
  content: "\e906";
}

._icon-youtube:before {
  content: "\e907";
}

._icon-telegram:before {
  content: "\e908";
}

._icon-arrow:before {
  content: "\e909";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Stem";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Stem";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 74.375rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.subtitle {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}
@media only screen and (min-width: 1023px) {
  .subtitle {
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
  }
}
.subtitle--dark {
  color: #000;
}
.subtitle--pseudo {
  position: relative;
}
.subtitle--pseudo::before {
  content: attr(data-text);
  font-size: 26px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #000;
  position: absolute;
  top: -15px;
  left: 30px;
}
@media only screen and (min-width: 1023px) {
  .subtitle--pseudo::before {
    font-size: 48px;
    line-height: 60px;
    font-weight: 400;
    top: 30px;
    left: -100px;
  }
}

.text {
  font-weight: 350;
  font-size: 19px;
  line-height: 135%;
  color: #e5e5e5;
}
@media only screen and (min-width: 1023px) {
  .text {
    font-weight: 400;
    font-size: 22px;
  }
}
.text--small {
  font-size: 15px;
  line-height: 140%;
}
@media only screen and (min-width: 1023px) {
  .text--small {
    font-size: 17px;
  }
}
.text--secondary {
  color: #ccc;
}
.text--primary {
  color: #808080;
}
.text--accent {
  color: #e5e5e5;
}
.text--dark {
  color: #000;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid #eee;
}
textarea.input {
  resize: none;
  padding: 0px 0px;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 9997;
}

body.popup-show::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}
@media only screen and (min-width: 1023px) {
  .popup {
    width: 50%;
    left: unset;
  }
}

.popup_show {
  z-index: 9999;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
  background-color: #eee;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  padding: 30px 20px;
  width: 100%;
  max-width: 640px;
}
@media only screen and (min-width: 1023px) {
  .popup__content {
    padding: 45px 40px;
  }
}
.lock .popup__content {
  visibility: visible;
}

.spollers__title {
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  color: #e5e5e5;
  width: 100%;
  position: relative;
  padding: 19px 0 20px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
@media only screen and (min-width: 1023px) {
  .spollers__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
  }
}
._spoller-init .spollers__title {
  cursor: pointer;
}
._spoller-init .spollers__title::before, ._spoller-init .spollers__title::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: #e5e5e5;
  transition: transform 0.5s ease 0s;
}
._spoller-init .spollers__title._spoller-active::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: #e5e5e5;
}
.spollers__title {
  cursor: pointer;
}
.spollers__title::before {
  transition: all 0.3s ease 0s;
  font-size: 1.1875rem;
}
.spollers__body {
  margin-bottom: 2px;
  position: relative;
}
@media only screen and (min-width: 1023px) {
  .spollers__body {
    padding: 20px 0 0;
  }
}
.spollers__box {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #333;
  padding: 10px 0 5px;
}
@media only screen and (min-width: 1023px) {
  .spollers__box {
    border-bottom: none;
  }
}
.spollers__subtitle {
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  color: #ccc;
}
@media only screen and (min-width: 1023px) {
  .spollers__subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
  }
}
.spollers__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 310px;
}
@media only screen and (min-width: 1023px) {
  .spollers__list {
    max-width: 600px;
    border-bottom: 1px solid #333;
    gap: 12px;
    padding-left: 20px;
    padding-bottom: 15px;
    margin-bottom: 6px;
  }
}
.spollers__points {
  position: relative;
}
.spollers__points::before {
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  position: absolute;
  top: 13px;
  left: -20px;
  background-color: #ccc;
  opacity: 0.7;
}
.spollers__text {
  font-weight: 350;
  font-size: 15px;
  line-height: 140%;
  color: #ccc;
}
@media only screen and (min-width: 1023px) {
  .spollers__text {
    font-size: 17px;
  }
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

[data-showmore-button] span:last-child {
  display: none;
}
._showmore-active [data-showmore-button] span {
  display: none;
}
._showmore-active [data-showmore-button] span:last-child {
  display: block;
}

body {
  margin: 0;
  background-color: #000;
  color: #fff;
}

.container {
  max-width: 1240px;
  padding: 0 10px;
  margin: 0 auto;
}
@media only screen and (min-width: 1023px) {
  .container {
    padding: 0 20px;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 217px;
  height: 49px;
  cursor: pointer;
  border-radius: 100px;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
}
@media only screen and (min-width: 1023px) {
  .btn {
    width: 235px;
    height: 51px;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
  }
}

.btn-primary {
  background-color: #fff;
  color: #000;
}
.burger {
  width: 30px;
  height: 14px;
  display: block;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger span, .burger::before, .burger::after {
  content: "";
  transition: all 0.3s ease 0s;
  left: 0px;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #c4c4c4;
}
.burger::before {
  top: 0px;
}
.burger::after {
  bottom: 0px;
}
.burger span {
  top: calc(50% - 1px);
}
.open .burger span {
  transform: scale(0);
}
.open .burger::before {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.open .burger::after {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.swiper {
  position: relative;
  margin-left: 10px;
}
@media only screen and (min-width: 1023px) {
  .swiper {
    margin-left: 120px;
  }
}
.swiper__item {
  height: 266px;
}
@media only screen and (min-width: 1023px) {
  .swiper__item {
    height: 600px;
  }
}
.swiper__img {
  width: 100%;
  height: 266px;
}
@media only screen and (min-width: 1023px) {
  .swiper__img {
    height: 600px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/icons/arrow-slider.svg");
  width: 20px;
  height: 8px;
}

.swiper-button-next {
  transform: rotate(180deg);
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Stem";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #333;
}
@media only screen and (min-width: 1023px) {
  .swiper-pagination {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
  }
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
@media only screen and (min-width: 1023px) {
  .social {
    justify-content: flex-end;
    width: 35%;
  }
}
.gradient {
  position: absolute;
  top: 0;
  left: 0;
}
.gradient__wrap {
  position: relative;
  height: 20px;
  width: 20px;
  animation: pulse 6s infinite ease-out;
}
.gradient__element {
  position: absolute;
}
.gradient__element1 {
  width: 241px;
  height: 146px;
  left: -20px;
  top: -50px;
  /* Оранжевый 1 */
  background: #fb9549;
  filter: blur(120px);
}
.gradient__element2 {
  width: 418px;
  height: 145px;
  left: -86px;
  top: -97px;
  /* Розовый 3 */
  background: #c6415e;
  filter: blur(120px);
}
.gradient__element3 {
  width: 477px;
  height: 408px;
  left: -38px;
  top: -68px;
  /* Красный */
  background: #9b1100;
  filter: blur(500px);
}

@keyframes pulse {
  0% {
    transform: scale(0.65);
  }
  10% {
    transform: scale(0.7);
  }
  20% {
    transform: scale(0.8);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.8);
  }
  90% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(0.65);
  }
}
.careers {
  padding: 40px 0;
}
@media only screen and (min-width: 1023px) {
  .careers {
    padding: 60px 0;
  }
}
.careers__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media only screen and (min-width: 1023px) {
  .careers__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
.careers__subtitle {
  margin-bottom: 30px;
}
.careers__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
@media only screen and (min-width: 1023px) {
  .careers__content {
    margin-top: 62px;
    margin-right: 20px;
    margin-bottom: 0;
  }
}
.careers__text {
  margin-bottom: 24px;
}
@media only screen and (min-width: 1023px) {
  .careers__text {
    max-width: 500px;
    margin-bottom: 30px;
  }
}
.careers__wrap {
  display: flex;
  flex-direction: column;
}
.careers__description {
  margin-bottom: 10px;
}
.careers__link {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1023px) {
  .careers__img {
    max-width: 300px;
    max-height: 400px;
  }
}

.vacancies {
  padding: 60px 0 30px;
}
@media only screen and (min-width: 1023px) {
  .vacancies {
    padding: 80px 0 50px;
  }
}
.vacancies__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.vacancies__subtitle {
  padding-left: 4px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 1023px) {
  .vacancies__subtitle {
    margin-bottom: 55px;
  }
}
.vacancies__spollers-box {
  margin-bottom: 17px;
}
@media only screen and (min-width: 1023px) {
  .vacancies__spollers-box {
    margin-left: 25%;
    margin-bottom: 14px;
  }
}
.vacancies__btn {
  align-self: center;
  margin-left: 37px;
}
@media only screen and (min-width: 1023px) {
  .vacancies__btn {
    margin-left: 235px;
  }
}

.field__wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}

.field__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.field__file-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.field__file-fake {
  height: 60px;
  width: calc(100% - 130px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px;
  border: 1px solid #c7c7c7;
  border-radius: 3px 0 0 3px;
  border-right: none;
}

.field__file-button {
  width: 130px;
  height: 60px;
  background: #1bbc9b;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.contacts {
  padding: 40px 0 0;
}
@media only screen and (min-width: 1023px) {
  .contacts {
    padding: 60px 0 20px;
  }
}
.contacts__wrapper {
  display: flex;
  flex-direction: column;
}
.contacts__gradient {
  top: 180px;
  left: 40px;
}
.contacts__subtitle {
  margin-bottom: 30px;
  position: relative;
}
@media only screen and (min-width: 1023px) {
  .contacts__subtitle {
    margin-bottom: 54px;
  }
}
.contacts__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 30px;
}
@media only screen and (min-width: 1023px) {
  .contacts__content {
    max-width: 50%;
    margin-bottom: 50px;
    gap: 50px;
  }
}
.contacts__inner {
  display: flex;
  flex-wrap: wrap;
  row-gap: 37px;
}
@media only screen and (min-width: 1023px) {
  .contacts__inner {
    row-gap: 50px;
  }
}
.contacts__wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
}
@media only screen and (min-width: 1023px) {
  .contacts__wrap {
    gap: 22px;
  }
}
.contacts__link {
  display: flex;
  flex-direction: column;
}
.contacts__btn {
  width: 205px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 1023px) {
  .contacts__btn {
    width: 221px;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1279px) {
  .contacts__map {
    position: absolute !important;
    top: 0;
    right: 0;
  }
}
.contacts__map iframe {
  width: 100%;
  height: 514px;
  position: relative;
}
@media only screen and (min-width: 1279px) {
  .contacts__map iframe {
    width: 720px;
    height: 770px;
  }
}

.main {
  padding: 20px 0 40px;
}
@media only screen and (min-width: 1023px) {
  .main {
    padding-bottom: 132px;
  }
}
.main__inner {
  position: relative;
}
.main__inner::before {
  content: "";
  display: block;
  width: 340px;
  height: 800px;
  position: absolute;
  top: 300px;
  left: 1000px;
  /* Фиолетовый */
  background: #392667;
  filter: blur(400px);
  transform: rotate(73.38deg);
}
.main__wrapper {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1023px) {
  .main__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
.main__gradient--left {
  display: none;
}
@media only screen and (min-width: 1023px) {
  .main__gradient--left {
    display: block;
  }
}
.main__gradient--right {
  left: unset;
  right: 0;
}
@media only screen and (min-width: 1023px) {
  .main__gradient--right {
    right: 100px;
    top: 40px;
  }
}
.main__gradient--down {
  top: unset;
  down: 10px;
}
.main__background {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  height: 430px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 1023px) {
  .main__background {
    height: 360px;
  }
}
.main__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 110%;
  text-transform: uppercase;
  color: #fff;
  max-width: 440px;
  margin-bottom: 25px;
}
@media only screen and (min-width: 1023px) {
  .main__title {
    font-size: 64px;
    max-width: 830px;
    margin-bottom: 0;
  }
}
.main__box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media only screen and (min-width: 1023px) {
  .main__box {
    gap: 70px;
  }
}
.main__text {
  max-width: 260px;
}
@media only screen and (min-width: 1023px) {
  .main__text {
    max-width: 300px;
  }
}
.main__btn {
  width: 213px;
}

.cases {
  padding: 40px 0 30px;
}
@media only screen and (min-width: 1023px) {
  .cases {
    padding: 60px 0 50px;
  }
}
.cases__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media only screen and (min-width: 1023px) {
  .cases__gradient {
    top: 110px;
    left: 135px;
  }
}
.cases__subtitle {
  margin-bottom: 40px;
}
@media only screen and (min-width: 1023px) {
  .cases__subtitle {
    margin-bottom: 50px;
  }
}
.cases h1::before {
  top: -20px;
  left: 80px;
}
.cases__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
  margin-bottom: 30px;
}
@media only screen and (min-width: 1023px) {
  .cases__grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 75px;
    column-gap: 40px;
    margin-bottom: 54px;
  }
}
.cases__link {
  max-width: 480px;
}
@media only screen and (min-width: 1023px) {
  .cases__link {
    max-width: 100%;
  }
}
.cases__article {
  display: flex;
  flex-direction: column;
}
.cases__img {
  max-width: 480px;
  max-height: 285px;
  margin-bottom: 25px;
}
@media only screen and (min-width: 1023px) {
  .cases__img {
    max-width: 580px;
    max-height: 345px;
  }
}
.cases__description {
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  text-transform: uppercase;
  color: #e5e5e5;
  margin-bottom: 20px;
}
@media only screen and (min-width: 1023px) {
  .cases__description {
    font-size: 22px;
    line-height: 27px;
  }
}
.cases__btn {
  width: 186px;
}
@media only screen and (min-width: 1023px) {
  .cases__btn {
    width: 200px;
    margin: 0 auto;
  }
}

.awards {
  padding: 65px 0 30px;
}
@media only screen and (min-width: 1023px) {
  .awards {
    padding: 100px 0;
  }
}
.awards__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media only screen and (min-width: 1023px) {
  .awards .gradient {
    position: absolute;
    top: 0;
    left: 35%;
    transform: translateX(-50%);
  }
  .awards .gradient__element {
    position: absolute;
  }
  .awards .gradient__element1 {
    width: 386px;
    height: 180px;
    left: -20px;
    top: -50px;
    /* Оранжевый 1 */
    background: #fb9549;
    filter: blur(150px);
  }
  .awards .gradient__element2 {
    width: 544px;
    height: 265px;
    left: -86px;
    top: -97px;
    /* Розовый 3 */
    background: #c6415e;
    filter: blur(150px);
  }
  .awards .gradient__element3 {
    width: 1130px;
    height: 279px;
    left: -38px;
    top: -68px;
    /* Фиолетовый */
    background: #392667;
    filter: blur(500px);
  }
  .awards h2::before {
    top: -20px;
    left: 315px;
  }
}
.awards__subtitle {
  margin-bottom: 40px;
}
@media only screen and (min-width: 1023px) {
  .awards__subtitle {
    margin-bottom: 50px;
  }
}
.awards__list {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1023px) {
  .awards__list {
    margin-left: 300px;
  }
}
.awards__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
  padding: 20px 0;
}
@media only screen and (min-width: 1023px) {
  .awards__item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.awards__description {
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  color: #e5e5e5;
  opacity: 0.9;
}
@media only screen and (min-width: 1023px) {
  .awards__description {
    font-size: 22px;
    line-height: 27px;
  }
}
@media only screen and (min-width: 1023px) {
  .awards__text {
    min-width: 220px;
    text-align: right;
  }
}

.services {
  padding: 40px 0;
}
@media only screen and (min-width: 1023px) {
  .services {
    padding: 50px 0;
  }
}
.services__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media only screen and (min-width: 1023px) {
  .services h2::before {
    top: -15px;
    left: -80px;
  }
}
.services__subtitle {
  margin-bottom: 42px;
}
@media only screen and (min-width: 1023px) {
  .services__subtitle {
    margin-bottom: 50px;
  }
}
.services__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  row-gap: 40px;
  margin-bottom: 30px;
}
@media only screen and (min-width: 1023px) {
  .services__list {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 52px;
    column-gap: 0;
    margin-left: 25%;
    margin-bottom: 50px;
  }
}
.services__link {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media only screen and (min-width: 1023px) {
  .services__link {
    gap: 20px;
  }
}
.services__description {
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  color: #e5e5e5;
}
@media only screen and (min-width: 1023px) {
  .services__description {
    font-size: 22px;
    line-height: 27px;
  }
}
@media only screen and (min-width: 1023px) {
  .services__text {
    max-width: 250px;
  }
}
.services__btn {
  width: 176px;
}
@media only screen and (min-width: 1023px) {
  .services__btn {
    width: 188px;
    margin-left: 25%;
  }
}

.publications {
  padding: 52px 0 30px;
}
@media only screen and (min-width: 1023px) {
  .publications {
    padding: 100px 0;
  }
}
.publications__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media only screen and (min-width: 1023px) {
  .publications h2::before {
    top: -45px;
  }
}
.publications__subtitle {
  margin-bottom: 42px;
}
@media only screen and (min-width: 1023px) {
  .publications__subtitle {
    margin-bottom: 50px;
  }
}
.publications__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}
@media only screen and (min-width: 1023px) {
  .publications__list {
    margin-left: 25%;
    margin-bottom: 50px;
  }
}
.publications__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 0 0;
  border-top: 1px solid #333;
}
@media only screen and (min-width: 1023px) {
  .publications__item {
    flex-direction: row;
    gap: 100px;
  }
}
.publications__wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.publications__date {
  font-weight: 350;
  font-size: 10px;
  line-height: 12px;
  color: #808080;
}
@media only screen and (min-width: 1023px) {
  .publications__date {
    font-size: 12px;
    line-height: 14px;
  }
}
.publications__description {
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  color: #e5e5e5;
}
@media only screen and (min-width: 1023px) {
  .publications__description {
    font-size: 22px;
    line-height: 27px;
    max-width: 550px;
  }
}
.publications__box {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media only screen and (min-width: 1023px) {
  .publications__box {
    align-items: flex-end;
    padding-bottom: 10px;
  }
}
.publications__btn {
  width: 186px;
}
@media only screen and (min-width: 1023px) {
  .publications__btn {
    width: 200px;
    margin-left: 25%;
  }
}

.problems {
  padding: 110px 0 62px;
}
@media only screen and (min-width: 1023px) {
  .problems {
    padding: 120px 0 95px;
  }
}
.problems__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 30px;
}
@media only screen and (min-width: 1023px) {
  .problems__wrapper {
    margin-left: 25%;
    gap: 56px;
  }
}
.problems__background {
  position: absolute;
  top: -30%;
  right: 12%;
  z-index: 1;
}
@media only screen and (min-width: 1023px) {
  .problems__background {
    left: 40%;
  }
}
.problems__title {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  color: #fff;
  max-width: 400px;
  opacity: 0.9;
}
@media only screen and (min-width: 1023px) {
  .problems__title {
    font-size: 48px;
    line-height: 60px;
    font-weight: 400;
    max-width: 600px;
  }
}
.problems__btn {
  width: 205px;
}
@media only screen and (min-width: 1023px) {
  .problems__btn {
    width: 220px;
  }
}

.videocases {
  padding: 40px 0 60px;
}
@media only screen and (min-width: 1023px) {
  .videocases {
    padding: 60px 0 50px;
  }
}
.videocases__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.videocases__gradient {
  top: 50px;
  left: 30px;
}
.videocases__title {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}
@media only screen and (min-width: 1023px) {
  .videocases__title {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 30px;
  }
}
.videocases__btn {
  width: 257px;
  margin-bottom: 40px;
}
.videocases__box-img {
  margin-bottom: 30px;
}
@media only screen and (min-width: 1023px) {
  .videocases__box-img {
    margin-bottom: 8px;
  }
}
.videocases__img source, .videocases__img img {
  height: 600px;
  width: 100%;
  max-width: 480px;
}
@media only screen and (min-width: 1023px) {
  .videocases__img source, .videocases__img img {
    max-width: 1200px;
    width: 100%;
  }
}
.videocases__box {
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 1023px) {
  .videocases__box {
    max-width: 50%;
  }
}
.videocases__wrap {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 50%;
}
.tasks {
  padding: 40px 0;
  background-color: #eee;
}
@media only screen and (min-width: 1023px) {
  .tasks {
    padding: 96px 0 50px;
  }
}
.tasks__wrapper {
  display: flex;
  flex-direction: column;
}
.tasks__subtitle {
  margin-bottom: 30px;
}
.tasks__text {
  margin-bottom: 20px;
}
@media only screen and (min-width: 1023px) {
  .tasks__text {
    margin-bottom: 50px;
  }
}
.tasks__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 196px;
  height: 51px;
  margin: 22px auto 0;
  border: 1px solid #cccccc;
  border-radius: 200px;
}

.decisions {
  padding: 20px 0;
  background-color: #eee;
}
@media only screen and (min-width: 1023px) {
  .decisions {
    padding: 50px 0;
  }
}
.decisions__wrapper {
  display: flex;
  flex-direction: column;
}
.decisions__subtitle {
  margin-bottom: 30px;
}
@media only screen and (min-width: 1023px) {
  .decisions__subtitle {
    margin-bottom: 20px;
  }
}
.decisions__text {
  margin-bottom: 12px;
}
@media only screen and (min-width: 1023px) {
  .decisions__text {
    margin-bottom: 50px;
  }
}

.results {
  padding: 30px 0 40px;
  background-color: #eee;
}
@media only screen and (min-width: 1023px) {
  .results {
    padding: 60px 0 100px;
  }
}
.results__wrapper {
  display: flex;
  flex-direction: column;
}
.results__subtitle {
  margin-bottom: 40px;
}
@media only screen and (min-width: 1023px) {
  .results__subtitle {
    margin-bottom: 25px;
  }
}
.results__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 30px;
  margin-bottom: 25px;
}
@media only screen and (min-width: 1023px) {
  .results__list {
    max-width: 600px;
    margin-bottom: 55px;
  }
}
.results__item {
  position: relative;
}
.results__item::before {
  content: "";
  display: block;
  width: 22px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/icons/arrow-results.svg");
  position: absolute;
  top: 0;
  left: -30px;
}
.results__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (min-width: 1023px) {
  .results__box {
    gap: 50px;
    flex-direction: row;
  }
}
.results__img {
  max-height: 678px;
  max-width: 100%;
}
@media only screen and (min-width: 1023px) {
  .results__img {
    max-height: 812px;
  }
}

.next-cases {
  padding: 60px 0 0;
}
@media only screen and (min-width: 1023px) {
  .next-cases {
    padding: 96px 0 0;
  }
}
.next-cases__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.next-cases__gradient {
  display: none;
}
@media only screen and (min-width: 1023px) {
  .next-cases__gradient {
    display: block;
  }
}
.next-cases h2::before {
  display: none;
}
@media only screen and (min-width: 1023px) {
  .next-cases h2::before {
    display: block;
  }
}
.next-cases__subtitle {
  margin-bottom: 40px;
}
@media only screen and (min-width: 1023px) {
  .next-cases__subtitle {
    margin-bottom: 50px;
  }
}
.next-cases__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
  margin-bottom: 30px;
}
@media only screen and (min-width: 1023px) {
  .next-cases__grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 75px;
    column-gap: 40px;
    margin-bottom: 54px;
  }
}
.next-cases__link {
  max-width: 480px;
}
@media only screen and (min-width: 1023px) {
  .next-cases__link {
    max-width: 100%;
  }
}
.next-cases__article {
  display: flex;
  flex-direction: column;
}
.next-cases__img {
  max-width: 480px;
  max-height: 285px;
  margin-bottom: 25px;
}
@media only screen and (min-width: 1023px) {
  .next-cases__img {
    max-width: 580px;
    max-height: 345px;
  }
}
.next-cases__description {
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  text-transform: uppercase;
  color: #e5e5e5;
  margin-bottom: 20px;
}
@media only screen and (min-width: 1023px) {
  .next-cases__description {
    font-size: 22px;
    line-height: 27px;
  }
}
.popup__content {
  padding: 20px 0;
}
@media only screen and (min-width: 1023px) {
  .popup__content {
    padding: 30px 60px 30px 30px;
  }
}
.popup__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 155px;
}
@media only screen and (min-width: 1023px) {
  .popup__wrap {
    justify-content: flex-end;
    margin-bottom: 85px;
  }
}
@media only screen and (min-width: 1023px) {
  .popup__logo {
    display: none;
  }
}
.popup__close svg {
  width: 20px;
  height: 20px;
}
@media only screen and (min-width: 1023px) {
  .popup__close svg {
    width: 30px;
    height: 30px;
  }
}
.popup__title {
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1023px) {
  .popup__title {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 20px;
  }
}
.popup__subtitle {
  font-weight: 400;
  font-size: 19px;
  line-height: 135%;
  color: #1a1a1a;
  margin-bottom: 30px;
}
@media only screen and (min-width: 1023px) {
  .popup__subtitle {
    font-size: 22px;
    max-width: 500px;
    margin-bottom: 40px;
  }
}

.header {
  padding: 20px 0;
}
@media only screen and (min-width: 1023px) {
  .header {
    padding: 30px 0;
  }
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__nav {
  display: none;
}

.footer {
  padding: 30px 0;
}
@media only screen and (min-width: 1023px) {
  .footer {
    padding: 40px 0 25px;
  }
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
@media only screen and (min-width: 1023px) {
  .footer__wrapper {
    gap: 20px;
  }
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  border-bottom: 1px solid #333;
  padding-bottom: 18px;
}
.footer__logo {
  width: 100%;
}
@media only screen and (min-width: 1023px) {
  .footer__logo {
    width: 10%;
    margin-top: 15px;
  }
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
}
.footer__wrap {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
@media only screen and (min-width: 1023px) {
  .footer__wrap {
    flex-direction: row;
    justify-content: space-between;
    width: 47%;
  }
}
@media only screen and (min-width: 1023px) {
  .nav {
    width: 26%;
  }
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.nav__link {
  font-weight: 350;
  font-size: 15px;
  line-height: 18px;
  color: #ccc;
  position: relative;
}
.nav__link::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #ccc;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.nav__link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
@media only screen and (min-width: 1023px) {
  .nav__link {
    font-size: 17px;
    line-height: 20px;
  }
}

@media only screen and (min-width: 1023px) {
  .logo__img {
    width: 100px;
    height: 25px;
  }
}

.open .header {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  background-color: #0f2f2e !important;
  margin-top: 0;
  padding-top: 30px;
  z-index: 999;
}
.open .header__wrapper {
  flex-direction: column;
  gap: 15%;
  height: 100%;
  justify-content: flex-start;
}
.open .header__block {
  margin-bottom: 36px;
}
@media only screen and (min-width: 1279px) {
  .open .header__logo {
    margin-right: 40px;
  }
}
.open .header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 65px;
}
.open .header__nav {
  display: flex;
  flex-direction: column;
}
.open .nav__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.open .nav__link {
  font-weight: 350;
  font-size: 40px;
  line-height: 130%;
  color: #ccc;
}

.video {
  width: 100%;
}

.c-video {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.c-video iframe {
  width: 100%;
  height: 260px;
  max-width: 100%;
}
@media only screen and (min-width: 1023px) {
  .c-video iframe {
    height: 600px;
  }
}

.video__player {
  width: 100%;
}

.c-video:hover .controls {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.7);
  transform: translateY(100%) translateY(-5px);
  -webkit-transform: translateY(100%) translateY(-5px);
  -moz-transform: translateY(100%) translateY(-5px);
  -ms-transform: translateY(100%) translateY(-5px);
  -o-transform: translateY(100%) translateY(-5px);
  transition: all 0.2s;
}

.buttons button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 90deg;
  background: #000000;
}

.buttons button:before {
  content: "";
  position: absolute;
  background: url("./../img/video/play.svg") center no-repeat;
  top: -26px;
  right: 4px;
  width: 21px;
  height: 23px;
}

.buttons button.play:before {
  display: block;
  content: "";
  background: url("./../img/video/play.svg") center no-repeat;
}

.buttons button.pause:before {
  content: "";
  background: url("./../img/video/pause.png") center no-repeat;
  width: 23px;
}

.orange-bar {
  height: 0;
  top: 0;
  left: 0;
  width: 90%;
  background: black;
}

.orange-juice {
  height: 10px;
  width: 100px;
  background-color: #3d1d64;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (min-width: 1023px) {
  .form {
    gap: 30px;
  }
}
.form__box {
  position: relative;
}
.form__wrap {
  display: flex;
  flex-direction: column;
}
.form__input {
  width: 100%;
  height: 44px;
  font-weight: 350;
  font-size: 17px;
  line-height: 140%;
  color: #333;
  border-bottom: 1px solid #ccc;
  position: relative;
  background-color: transparent;
}
.form__input:focus-visible, .form__input:focus, .form__input:active {
  outline: none;
  border-bottom: 1px solid #808080;
}
.form__input:focus ~ .form__label, .form__input:valid ~ .form__label {
  opacity: 0;
}
.form__label {
  font-weight: 350;
  font-size: 15px;
  line-height: 140%;
  color: #333;
  position: absolute;
  top: 12px;
  left: 0;
  opacity: 1;
  transition: 0.5s;
}
@media only screen and (min-width: 1023px) {
  .form__label {
    font-size: 17px;
  }
}
.form__input::placeholder, .form__textarea::placeholder {
  font-weight: 350;
  font-size: 15px;
  line-height: 140%;
  color: #333;
}
@media only screen and (min-width: 1023px) {
  .form__input::placeholder, .form__textarea::placeholder {
    font-size: 17px;
  }
}
.form__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}
@media only screen and (min-width: 1023px) {
  .form__inner {
    margin-top: 26px;
  }
}
.form__btn {
  width: 210px;
  background: #000000;
  border-radius: 50px;
  font-weight: 400;
  color: #fff;
}
@media only screen and (min-width: 1023px) {
  .form__btn {
    width: 168px;
  }
}
.form__text {
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  color: #808080;
  max-width: 240px;
}
@media only screen and (min-width: 1023px) {
  .form__text {
    font-size: 12px;
    max-width: 355px;
  }
}

.page-doctors .doctors {
  padding-top: 110px;
}
@media only screen and (min-width: 1023px) {
  .page-doctors .doctors {
    padding-top: 220px;
  }
}
.page-doctors .doctors__title {
  margin-bottom: 30px;
}
@media only screen and (min-width: 1023px) {
  .page-doctors .doctors__title {
    margin-bottom: 45px;
  }
}
.page-doctors .doctors__wrapper {
  display: grid;
  grid-template-columns: repeat(1, auto);
  justify-content: center;
  gap: 10px;
}
@media only screen and (min-width: 575px) {
  .page-doctors .doctors__wrapper {
    grid-template-columns: repeat(2, auto);
  }
}
@media only screen and (min-width: 1023px) {
  .page-doctors .doctors__wrapper {
    gap: 40px;
    grid-template-columns: repeat(3, auto);
  }
}
@media only screen and (min-width: 1279px) {
  .page-doctors .doctors__wrapper {
    gap: 40px;
    grid-template-columns: repeat(4, auto);
  }
}
.page-doctors .doctors .swiper__item {
  width: 280px;
  padding-inline: 44px;
}
@media only screen and (min-width: 1023px) {
  .page-doctors .doctors .swiper__item {
    width: 260px;
    padding: 50px 20px 36px;
  }
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
