.btn {
  @include flex(center, center);
  @include wh(217px, 49px);

  
  border-radius: 100px;

  font-weight: 500;
  font-size: 15px;
  line-height: 19px;

 

  @include media(min, lg) {
    @include wh(235px, 51px);

    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
  }
}

.btn-primary {
	background-color: $mainColor;
	color: $textDark;


  &:hover {
   
  }
}

.btn-secondary {
  

  &:hover {
   
  }
}
