.popup {
  // .popup__wrapper
  &__wrapper {
  }

  // .popup__content
  &__content {
    padding: 20px 0;
	@include media (min, lg) {
		padding: 30px 60px 30px 30px;
	}
  }
  // .popup__wrap
  &__wrap {
    @include flex(space-between, center);
    margin-bottom: 155px;
	@include media (min, lg) {
		justify-content: flex-end;
		margin-bottom: 85px;
	}
  }
  // .popup__logo
  &__logo {
    @include media(min, lg) {
      display: none;
    }
  }
  // .popup__close
  &__close {
    svg {
      @include wh(20px);
      @include media(min, lg) {
        @include wh(30px);
      }
    }
  }

  // .popup__title
  &__title {
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;

    color: $textDark;
    margin-bottom: 10px;

    @include media(min, lg) {
      font-size: 48px;
      line-height: 60px;
	  margin-bottom: 20px;
    }
  }

  // .popup__subtitle
  &__subtitle {
    font-weight: 400;
    font-size: 19px;
    line-height: 135%;

    color: #1a1a1a;
    margin-bottom: 30px;
    @include media(min, lg) {
      font-size: 22px;
	  max-width: 500px;
	  margin-bottom: 40px;
    }
  }
}
