.social {
	@include flex(space-between, center);
	gap: 10px;
	@include media (min, lg) {
		justify-content: flex-end;
		width: 35%;
	}
	// .social__item
	&__item {}
	// .social__link
	&__link {}
	// .social__img
	&__img {}
  }