.decisions {
	padding: 20px 0;
	background-color: #eee;
	@include media(min, lg) {
		padding: 96px 0;
	}
// .decisions__wrapper
&__wrapper {
	@include flex($flex-direction: column);
}
	// .decisions__subtitle
	&__subtitle {
		margin-bottom: 30px;
	}
	// .decisions__text
	&__text {
		margin-bottom: 12px;
	}
}

.c-video {
}



