.decisions {
	padding: 20px 0;
	background-color: #eee;
	@include media(min, lg) {
		padding: 50px 0;
	}
// .decisions__wrapper
&__wrapper {
	@include flex($flex-direction: column);
}
	// .decisions__subtitle
	&__subtitle {
		margin-bottom: 30px;
		@include media(min, lg) {
			margin-bottom: 20px;
		}
	}
	// .decisions__text
	&__text {
		margin-bottom: 12px;
		@include media(min, lg) {
			margin-bottom: 50px;
		}
	}
}

.c-video {
}



