.main {
  // .main__wrapper
  &__wrapper {
    @include flex($flex-direction: column);
    @include media(min, lg) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  // .main__background
  &__background {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    height: 450px;
    margin-bottom: 20px;
    @include background(url("@img/main/bg-mob.png"));
    @include media(min, lg) {
      height: 380px;
      @include background(url("@img/main/bg.png"));
    }
  }

  // .main__title
  &__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 110%;

    text-transform: uppercase;

    color: $mainColor;

    max-width: 440px;

    margin-bottom: 25px;

    @include media(min, lg) {
      font-size: 64px;
      max-width: 830px;
      margin-bottom: 0;
    }
  }
  // .main__box
  &__box {
    @include flex($flex-direction: column);
    gap: 30px;
    @include media(min, lg) {
      gap: 70px;
    }
  }
  // .main__text
  &__text {
    max-width: 260px;
    @include media(min, lg) {
      max-width: 300px;
    }
  }
  // .main__btn
  &__btn {
    width: 213px;
  }
}
