.problems {
  padding: 110px 0 62px;
  @include media (min, lg) {
	padding: 120px 0 95px;
  }
  // .problems__wrapper
  &__wrapper {
    @include flex($flex-direction: column);
    position: relative;
	gap: 30px;
 
	@include media (min, lg) {
		margin-left: 25%;
		gap: 56px;
  

	}
  }
 
		// .problems__background
		&__background {
      @include pos (absolute, $top: -30%, $right: 12%);
      z-index: 1;
    
      @include media (min, lg) {
        left: 40%;
      }
    }
		// .problems__img
		&__img {}


  // .problems__title
  &__title {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;

    color: $mainColor;

	max-width: 400px;

    opacity: 0.9;
    @include media(min, lg) {
      font-size: 48px;
      line-height: 60px;
      font-weight: 400;

	  max-width: 600px;
	  
    }
  }
  // .problems__btn
  &__btn {
	width: 205px;
	@include media (min, lg) {
		width: 220px;
	}
  }
}
