.publications {
  padding: 52px 0 30px;
  @include media(min, lg) {
	padding: 100px 0;
  }
  // .publications__wrapper
  &__wrapper {
    @include flex($flex-direction: column);
    position: relative;
  }
  h2::before{
    @include media(min, lg) {
      top: -45px;
    }
  }
  // .publications__subtitle
  &__subtitle {
    margin-bottom: 42px;
	@include media(min, lg) {
		margin-bottom: 50px;
	}
  }
  // .publications__list
  &__list {
    @include flex($flex-direction: column);
    gap: 20px;
    margin-bottom: 30px;
	@include media(min, lg) {
		margin-left: 25%;
		margin-bottom: 50px;
	}
  }
  // .publications__item
  &__item {
    @include flex($flex-direction: column);
	gap: 16px;

    padding: 20px 0 0;
    border-top: 1px solid #333;
	@include media(min, lg) {
		flex-direction: row;
		gap: 100px;
	}
  }
  // .publications__wrap
  &__wrap {
    @include flex($flex-direction: column);
    gap: 15px;
	@include media (min, lg) {
		
	}
  }
  // .publications__date
  &__date {
    font-weight: 350;
    font-size: 10px;
    line-height: 12px;

    color: $textPrimaryColor;
    @include media(min, lg) {
      font-size: 12px;
      line-height: 14px;
    }
  }
  // .publications__description
  &__description {
    font-weight: 500;
    font-size: 19px;
    line-height: 24px;

    color: $accentColor;
    @include media(min, lg) {
      font-size: 22px;
      line-height: 27px;
	  max-width: 550px;
    }
  }
  // .publications__box
  &__box {
    @include flex($align-items: center);
    gap: 10px;
	@include media (min, lg) {
		align-items: flex-end;
		padding-bottom: 10px;
	}
  }
  // .publications__img
  &__img {
  }
  // .publications__text
  &__text {
  }

  // .publications__btn
  &__btn {
    width: 186px;
    @include media(min, lg) {
      width: 200px;
      margin-left: 25%;
    }
  }
}
