.services {
  padding: 40px 0;
  @include media(min, lg) {
    padding: 50px 0;
  }
  // .services__wrapper
  &__wrapper {
    @include flex($flex-direction: column);
    position: relative;
  }
  h2::before {
    @include media(min, lg) {
      top: -15px;
      left: -80px;
    }
  }
  // .services__subtitle
  &__subtitle {
    margin-bottom: 42px;
	@include media(min, lg) {
		margin-bottom: 50px;
	}
  }
  // .services__list
  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 50px;
    row-gap: 40px;
    margin-bottom: 30px;
@include media(min, 499px) {
  grid-template-columns: repeat(2, 1fr);
}
    @include media(min, lg) {
      grid-template-columns: repeat(3, 1fr);
	  row-gap: 52px;
	  column-gap: 0;
      margin-left: 25%;
	  margin-bottom: 50px;
    }
  }
  // .services__item
  &__item {
  }
  // .services__link
  &__link {
    cursor: pointer;
    @include flex($flex-direction: column);
    gap: 16px;
	@include media (min, lg) {
		gap: 20px;
	}
  }
  // .services__description
  &__description {
    font-weight: 500;
    font-size: 19px;
    line-height: 24px;

    color: $accentColor;
    @include media(min, lg) {
      font-size: 22px;
      line-height: 27px;
    }
  }
  // .services__text
  &__text {
	@include media (min, lg) {
		max-width: 250px;
	}
  }

  // .services__btn
  &__btn {
    width: 176px;
	@include media(min, lg) {
		width: 188px;
		margin-left: 25%;
	}
  }
}
