.videocases {
  padding: 40px 0 60px;
  @include media(min, lg) {
    padding: 60px 0 50px;
  }
  // .videocases__wrapper
  &__wrapper {
    @include flex($flex-direction: column);
    position: relative;
  }
  &__gradient {
    top: 50px;
    left: 30px;
  }
  // .videocases__title
  &__title {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;

    color: $mainColor;
    margin-bottom: 20px;
    @include media(min, lg) {
      font-size: 48px;
      line-height: 60px;
      margin-bottom: 30px;
    }
  }
  // .videocases__btn
  &__btn {
    width: 257px;
    margin-bottom: 40px;
  }
  // .videocases__box-img
  &__box-img {
    margin-bottom: 30px;
    @include media(min, lg) {
      margin-bottom: 8px;
    }
  }
  // .videocases__img
  &__img source,
  &__img img {
    height: 600px;
    width: 100%;
    max-width: 480px;
    @include media(min, lg) {
      max-width: 1200px;
      width: 100%;
    }
  }
  // .videocases__box
  &__box {
    @include flex(space-between);
    @include media(min, lg) {
      max-width: 50%;
    }
  }
  // .videocases__wrap
  &__wrap {
    @include flex($flex-direction: column);
    gap: 7px;
    width: 50%;
  }
  // .videocases__text
  &__text {
  }
  // .videocases__list
  &__list {
  }
}
