.footer {
  padding: 30px 0;
  @include media (min, lg) {
    padding: 50px 0 25px;
  }
  // .footer__wrapper
  &__wrapper {
    @include flex($flex-direction: column);
    gap: 17px;
    @include media (min, lg) {
      gap: 20px;
    }
  }
  // .footer__top
  &__top {
    @include flex (space-between, center, wrap);
    gap: 16px;
    border-bottom: 1px solid #333;
  padding-bottom: 18px;
  @include media (min, lg) {
    
  }

  }
  // .footer__logo
  &__logo {
    width: 100%;
    @include media (min, lg) {
      width: 10%;
     
      margin-top: 15px;
    }
  }
  // .footer__nav
  &__nav {}
  // .footer__social
  &__social {}
  // .footer__bottom
  &__bottom {
    @include flex (space-between);
  }
  // .footer__wrap
  &__wrap {
    @include flex ($flex-direction: column);
    gap: 6px;
    @include media (min, lg) {
      flex-direction: row;
      justify-content: space-between;
      width: 47%;
    }
  }
  // .footer__text
  &__text {
    
  }
  
}

