.header {
  padding: 20px 0;
  @include media(min, lg) {
    padding: 30px 0;
  }
  // .header__wrapper
  &__wrapper {
    @include flex(space-between, center);
  }
  // .header__wrap
  &__wrap {
    @include flex(space-between, center);
	width: 100%;
  }
  // .header__logo
  &__logo {
  }
  // .header__burger
  &__burger {
  }
  // .header__nav
  &__nav {
	display: none;

  }
}
